.Gif{
    border: 1px solid #eee;
    border-radius: 6px;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 16px;
    width: 100%;
    padding: 32px;
}

.Gif h4{
    margin: 0;
    padding:0 0 15px 0; 
}

.Gif img{
    width: 100%;
    align-self: center;
}
div .card{
    width:75%;
}
