.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-content   {
  background-color: #46639e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 16px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  font-size: 48px;
}

small{
    font-size: .7em;
}
a{
  text-decoration: none;
  color: #61dafb;
}
li{
  list-style: none;
}
ul{
  padding: 0;
}